/* header style */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    color: white;
    padding: 0 264px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8
}

.right-links ul {
    display: flex;
    gap: 24px;
}

.right-links ul li {
    list-style: none;
}

.right-links ul li a {
    color: white;
    text-decoration: none;
}

/* this website is awesome style */

.hero {
    background-color: #1F2937;
    color: white;
    padding: 64px 264px;
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.awesome-website {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.awesome-website span {
    margin: 16px 0;
}

.awesome-website #main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.awesome-website #secondary-text {
    font-size: 18px;
    color: #e5e7eb
}


.image img {
    height: 300px;
    width: 750px
}

.button {
    color: white;
    background-color: blue;
    border: none;
    font-size: 24px;
    padding: 8px;
    border-radius: 5px;
    margin-top: 16px;
    width: 128px;
    font-weight: bold;
}

/* header and squares */

.header-squares h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding: 24px
}

.squares {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-bottom: 128px;
}

.square {
    width: 175px;
    height: 175px;
    border: 2px solid blue;
    border-radius: 8px;
}

.text {
    margin: 8px 0;
    width: 175px;
    text-align: center;
}

/* quote */

.quote {
    background-color: #e5e7eb;
    padding: 128px;
}

.quote-text {
    text-align: justify;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 800px;
    margin: auto;
}

.quote-under-text {
    width: 800px;
    margin: auto;
    font-weight: bold;
    text-align: right;
}